.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 3px solid black;
  }
  .field {
    display: flex;
    align-items: center;
  
    min-width: 300px;
    justify-content: space-between;
  }

  .settings-container {
    display: flex;
    gap: 10px;
  }